*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.tgz

.DS_Store
.idea/
.vscode/
.claude
.history/
.sass-cache/
.versions/
node_modules/

test/**/www/*
test/**/hydrate/*
.stencil
coverage/**

dist
www
hydrate
loader
test-results
__screenshots__
.vitest-attachments